@import "../../styles/index";

.contact {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;

  h3 {
    text-align: center;
    color: $accent;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $accent;
      left: 0;
      bottom: 0;
      border-radius: 1rem;
    }
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .touch {
      display: none;
      flex-direction: column;
      justify-content: space-between;

      .icons {
        ul {
          list-style-type: none;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2rem;

          li {
            width: 60px;
            height: 60px;
            @include transition;

            &:hover img {
              transform: scale(1.15);
            }

            img {
              width: 100%;
              @include transition;
              object-fit: cover;
            }
          }
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input,
      textarea {
        width: 100%;
        max-width: 350px;
        padding: 0.7rem 1.5rem;
        outline: none;
        border: none;
        border-radius: 0.3rem;
      }

      button {
        padding: 0.75rem 2.5rem;
        outline: none;
        border: 2px solid $accent;
        border-radius: 0.3rem;
        background-color: transparent;
        color: $accent;
        font-size: 18px;
        font-weight: 500;
        @include transition;
        align-self: flex-end;

        &:hover {
          background-color: $accent;
          color: $text;
        }
      }
    }
  }
}

@media screen and (768px<=width<=1080px) {
  .contact {
    padding: 1rem 3rem;

    div {
      .touch {
        display: flex;
      }

      input,
      textarea {
        max-width: 450px;
        padding: 0.7rem 1.5rem;
        outline: none;
        border: none;
        border-radius: 0.3rem;
      }
    }
  }
}

@media screen and (width>1080px) {
  .contact {
    div {
      .touch {
        display: flex;
        width: 50%;
        gap: 3rem;

        form {
          width: 50%;

          input,
          textarea {
            max-width: 550px;
            padding: 0.7rem 1.5rem;
            outline: none;
            border: none;
            border-radius: 0.3rem;
          }
        }
      }
    }
  }
}
